
{ifset $data['popis']}
	<p id="error">OOPS! subjekt nenalezen</p>

{else}
	
<p>IČO: {$data['ico']}</p>
<p>Obchodní jméno: {$data['obchodniJmeno']}</p>
<p>Datum vzniku: {$data['datumVzniku']}</p>

{/ifset}


